<div id="myCarousel" class="carousel slide banner-1" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="first-slide" src="assets/images/banner-1.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption banner1 text-left">
          <h2 class="wow fadeInUp">Building applications with latest technology</h2>
          <h6>Here at Goals and Gambles we strive to create a relationship built on providing as much clarity as
            possible,</h6>
          <p class="hidden-sm-down"><a class="btn btn-md btn-default" href="#schedule-meeting" role="button">Reach out
              to
              us today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img class="second-slide" src="assets/images/banner-2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption banner1">
          <h2 class="wow fadeInUp">We leave room for growth</h2>
          <h6>Asking the right question doesn't come easy in business, we strive to be the ones you get a answer from,
          </h6>
          <p class="hidden-sm-down"><a class="btn btn-md btn-default" href="#schedule-meeting" role="button">Learn
              more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img class="third-slide" src="assets/images/banner-3.png" alt="Third slide">
      <div class="container">
        <div class="carousel-caption banner1 text-right">
          <h2 class="wow fadeInUp">We are <span>Goals and </span>Gambles<span>.</span></h2>
          <h6>Web development services, Training, Application development, Graphic design and SEO,</h6>
          <!-- <p class="hidden-sm-down"><a class="btn btn-md btn-default" href="#" role="button">Browse Portfolio</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span
      class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a
    class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span
      class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2>What we provide to our clients</h2>
          <h6>#1 goal is to provide all your business needs in web development</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services-cont">
          <div class="icon-cont"><i class="icofont icofont-paint"></i></div>
          <div class="text-cont">
            <h6>UI/UX Design</h6>
            <p>We design applications with top notch industry tools. Adobe XD, Figma, you name it.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services-cont">
          <div class="icon-cont"><i class="icofont icofont-code-alt"></i></div>
          <div class="text-cont">
            <h6>Web Development</h6>
            <p>Experienced in React, Angular, Node.js, PHP, C#, Python to name a few.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services-cont">
          <div class="icon-cont"><i class="icofont icofont-dashboard-web"></i></div>
          <div class="text-cont">
            <h6>Online Marketing</h6>
            <p>Google ads, CMS help, SEO </p>
          </div>
        </div>
      </div> -->
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services-cont">
          <div class="icon-cont"><i class="icofont icofont-brand-android-robot"></i></div>
          <div class="text-cont">
            <h6>Application Development</h6>
            <p>From wireframing to deploying to the Apple Store and Playstore.</p>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services-cont">
          <div class="icon-cont"><i class="icofont icofont-video-clapper"></i></div>
          <div class="text-cont">
            <h6>Consulting</h6>
            <p>Its vital to the web development community that all inspiring web developers or your team know how to
              proper problem solve and use the latest tools</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="section-padding-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-right-6">
        <div class="text-left">
          <h2>Why Our Company</h2>
          <p>We deliver value and comfort since day #1. All of our guarantees and promises are personally from the
            owners. We promise that our services are “Guaranteed 24/7!” and everyone in the company upholds that promise
            as well. It’s a promise you’ll see on everything we touch.</p>
        </div>
      </div>
    </div>
    <!--div class="row">
    	<div class="col-lg-6 col-lg-offset-right-6">
        	<div class="row">
    			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<div class="counter-cont">
                    	<h4><span class="numscroller" data-min="1" data-max="5" data-delay="5" data-increment="10">5</span>+</h4>
                        <h6>Clients</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<div class="counter-cont">
                    	<h4><span class="numscroller" data-min="1" data-max="5" data-delay="5" data-increment="10">5</span>+</h4>
                        <h6>Projects</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<div class="counter-cont">
                    	<h4><span class="numscroller" data-min="1" data-max="2" data-delay="5" data-increment="10">2</span>+</h4>
                        <h6>Products</h6>
                    </div>
                </div>
            </div>
        </div>
    </div-->
  </div>
</section>
<section class="section-padding-ash">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2>Our Team</h2>
          <h6>Highly motivated indivduals with the a desire for innovation</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/me_imag.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5>Tony Gamble</h5>
            <h6>Founder & Ceo</h6>
            <!-- <p>Passion for using technology to create change. Experienced web developer and AWS certified. </p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/ik_image.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5>lkhlak Shaikh</h5>
            <h6>Tech Lead, CTO</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="team-cont"> <img src="assets/images/jim_image.jpg" class="img-fluid" alt="item 1">
          <div class="text-cont">
            <h5>Jimmy Auldridge</h5>
            <h6>Developer</h6>
            <!-- <p>Self taught web developer, fast learner, great teammate.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding-ash" id="schedule-meeting">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="width: 100%;">
        <div class="get-in-touch">
          <div class="get-in-touch-container">
            <h2>Get in touch Today</h2>
            <p>Looking for a team of flexible developers? Schedule a meeting with Goals and
              Gambles today!</p>
            <div class="get-in-touch-btn">
              <a href="https://calendly.com/goalsandgambles/30min" target="_blank">Schedule Meeting</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
